---
import Layout from '../layouts/Layout.astro';
import SobreMi from '../components/SobreMi.astro';
import '../styles/global.css';
import CardProyect from '../components/CardProyect.astro';
import Exp from '../components/Exp.astro';
import Certificados from '../components/Certificados.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<SobreMi /><h2 class="text-2xl text-center mt-10 font-bold">Contribuciones</h2>
  <div class=" cosas p-2 bg-[#393d41] mt-4 my-4 rounded w-[70vw]">
    
    <img  class="cosas" src="https://raw.githubusercontent.com/iDankest/iDankest/main/img/snake_dark.svg#gh-dark-mode-only)" alt="">
  </div>
    <CardProyect />
    <Exp />
    <Certificados />
</Layout>

<style is:global>
body {
--tw-bg-opacity: 1;
  background-color: rgb(44 45 48/var(--tw-bg-opacity));
}
@media (max-width: 639px) { 
        .cosas {
            flex-direction: column;
            align-items: stretch;
            width:  95vw; 
        }
        
    }
</style>


