<section>
    <h2 class="text-2xl text-center mb-10 font-bold">Proyectos destacados</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <article>
            <img class="w-full h-full object-cover rounded-t-lg" src="src/assets/Rooftop-Rush.png" alt="Rooftopimg">
            <div class="tech"><ul class="flex gap-1">
                <li><img src="src/assets/brand-html5.svg" alt="code"></li>
                <li><img src="src/assets/brand-css3.svg" alt="code"></li>
                <li><img src="src/assets/brand-javascript.svg" alt="code"></li>
                <li><img src="src/assets/brand-git.svg" alt="code"></li>
                </ul></div>
                <div class="m-2">
                    <h3 class="text-lg font-bold" >Rooftop Rush</h3>
                    <p class="text-sm">proyecto colaborativo mi mayor aporte es la parte visual y el movimiento de las plataformas</p>
                </div>
                <div class="m-2 flex justify-between items-center">
                    <a href="https://github.com/jlld47/Roof-Rush" target="_blank"><img src="src/assets/code.svg" alt="code"></a>
                    <a class="show-proyect" href="https://jlld47.github.io/Roof-Rush/" target="_blank">Ver Proyecto</a>
                </div>
        </article>
        <article>
            <img class="w-full h-full object-cover rounded-t-lg" src="src/assets/galagame.png" alt="Rooftopimg">
            <div class="tech"><ul class="flex gap-1">
                <li><img src="src/assets/brand-html5.svg" alt="code"></li>
                <li><img src="src/assets/brand-css3.svg" alt="code"></li>
                <li><img src="src/assets/brand-javascript.svg" alt="code"></li>
                <li><img src="src/assets/brand-git.svg" alt="code"></li>
                </ul></div>
                <div class="m-2">
                    <h3 class="text-lg font-bold" >GalaGame</h3>
                    <p class="text-sm">Proyecto de juego gala realizado en solitario manejo de colisiones y movimiento de personajes</p>
                </div>
                <div class="m-2 flex justify-between items-center">
                    <a href="https://github.com/iDankest/GalaGame"><img src="src/assets/code.svg" alt="code"></a>
                    <a class="show-proyect" href="https://mygalagame.netlify.app/" target="_blank">Ver Proyecto</a>
                </div>
        </article>
        <article>
            <img class="w-full h-full object-cover rounded-t-lg" src="src/assets/image.png" alt="Rooftopimg">
            <div class="tech"><ul class="flex gap-1">
                <li><img src="src/assets/brand-css3.svg" alt="code"></li>   
                <li><img src="src/assets/brand-javascript.svg" alt="code"></li>
                <li><img src="src/assets/brand-git.svg" alt="code"></li>
                <li><img src="src/assets/brand-php.svg" alt="code"></li>
                <li><img src="src/assets/brand-symfony.svg" alt="code"></li>
                <li><img src="src/assets/brand-tailwind.svg" alt="code"></li>
                <li><img src="src/assets/brand-mysql.svg" alt="code"></li>
                </ul></div>
                <div class="m-2">
                    <h3 class="text-lg font-bold" >Game Finder</h3>
                    <p class="text-sm">Participacion en proyecto web de busqueda de videojuegos utilizando una API de Steam</p>
                </div>
                <div class="m-2 flex justify-center items-center">
                    <a href="https://github.com/iDankest/Proyecto-Symfony" target="_blank"><img src="src/assets/code.svg" alt="code" ></a>
                </div>
        </article>
    </div>
</section>

<style>
    section{
        margin-top: 2em;
        width: 50vw;
    }
    article{
        width: 15vw;
        height: 20em;
        background-color: #393d41;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tech{
        background-color: blueviolet;
        padding: 0.4em;
    }
    li{
        width: 25px;
        height: 25px;
    }
    img[alt="code"]:hover{
        scale: 1.2;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .show-proyect{
        background-color: blueviolet;
        padding: 0.1em;
        border-radius: 5px;
    }
    .show-proyect:hover{
        background-color: blueviolet;
        cursor: pointer;
        transition: all 0.3s ease;
        color: black;
    }
    @media (max-width: 639px) { /* sm breakpoint de Tailwind - 1px */
        section {
            width: 95vw; /* O el ancho que prefieras para móvil */
        }
        article{
            width: 90%;
            height: 20em;
            background-color: #393d41;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
        }
    }
    </style>