<section class="w-[50vw]">
    <h2 class="text-2xl text-center mt-10 font-bold">Certificados</h2>
    <main class="flex flex-col gap-2 justify-between items-center">
    <div class="flex gap-2 bg-[#393d41] rounded " >
        <img class="rounded w-[7em] h-[7em]" src="src/assets/f2000.jpg " alt="">
   
    <div class="flex flex-col gap-1">
        <h4>Aplicaciones web</h4>
        <p>SCE Certificado Nivel 3</p>
        <p>Marzo 2024</p>
        <div class="flex justify-end pr-2">
        <a href="https://www.coursera.org/" target="_blank" class="bg-violet-500 rounded px-2" >Ver certificado</a>
        </div>
     </div> 
     <div class="flex gap-2 bg-[#393d41] rounded">
        <img class="rounded w-[7em] h-[7em]" src="src/assets/Reboot.png" alt="">
   
    <div class="flex flex-col gap-1">
        <h4>Ecommerce</h4>
        <p>Bootcamp Reboot Academy</p>
        <p>Feb 2025</p>
        <div class="flex justify-end pr-2">
        <a href="https://www.coursera.org/" target="_blank" class="bg-violet-500 rounded px-2" >Ver certificado</a>
        </div>
     </div> 
    </main>
</section>