<section class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold text-center my-10" id="experiencia">Experiencia Profesional</h2>
    <div class="flex justify-between items-center">
        <div>
            <div class="flex items-center gap-2">
                <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/briefcase-2.svg" alt="">
                <h3 class="text-xl">agosto 2024 - septiembre 2024</h3>
            </div>
            <div class="flex items-center gap-2">
                <h4 class="font-bold">ISLASSEM</h4> - <em>Desarrollador Web</em>
            </div>
            <p>Mantenimiento de páginas web</p>
            <ol>
                <li>WordPress</li>
                <li>Protección de datos</li>
                <li>Cookies</li>
            </ol>
        </div>
        <img class="w-[10em] rounded" src="/assets/islas.jpg" alt="Empresa Islassem">
    </div>
    <div class="flex justify-between items-center mt-10">
        <div>
            <div class="flex items-center gap-2">
                <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/briefcase-2.svg" alt="">
                <h3 class="text-xl">marzo 2019 - noviembre 2019</h3>
            </div>
            <div class="flex items-center gap-2">
                <h4 class="font-bold">BitBox S.L</h4> - <em>Técnico IT</em>
            </div>
            <p>Mantenimiento de equipos informáticos</p>
            <ol>
                <li>Instalación de sistemas operativos</li>
                <li>HelpDesk</li>
                <li>Mantenimiento de racks</li>
            </ol>
        </div>
        <img class="w-[10em] h-[10em] rounded" src="/assets/bitbox_it_logo.jpg" alt="Empresa BitBox S.L">
    </div>
    <hr class="border-violet-500 border-2 mt-10">
    <h2 class="text-2xl font-bold text-center my-5">Formación Académica</h2>
    <div class="flex justify-between items-center">
        <div>
            <div class="flex items-center gap-2">
                <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/school.svg" alt="">
                <h3 class="text-xl">agosto 2024 - febrero 2025</h3>
            </div>
            <div class="flex items-center gap-2">
                <h4 class="font-bold">Reboot Academy</h4> - <em>E-commerce</em>
            </div>
            <p>Creación de tiendas online</p>
            <ol class="flex flex-col gap-1">
                <li>HTML, CSS, JS</li>
                <li>PHP, Symfony, Tailwind</li>
                <li>MySQL, Git, GitHub, Docker</li>
                <li>WordPress, WooCommerce, Prestashop, Magento</li>
            </ol>
        </div>
        <img class="w-[10em] h-[10em] rounded" src="/assets/Reboot.png" alt="Centro Reboot Academy">
    </div>
    <div class="flex justify-between items-center mt-10">
        <div>
            <div class="flex items-center gap-2">
                <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/school.svg" alt="">
                <h3 class="text-xl">marzo 2023 - febrero 2024</h3>
            </div>
            <div class="flex items-center gap-2">
                <h4 class="font-bold">Fuerteventura 2000</h4> - <em>Desarrollador de Aplicaciones Web</em>
            </div>
            <p>Desarrollo de aplicaciones web</p>
            <ol>
                <li>HTML, CSS, JS</li>
                <li>Angular, Node.js, Express.js</li>
                <li>MySQL, MongoDB, Git, GitHub</li>
            </ol>
        </div>
        <img class="w-[10em] h-[10em] rounded" src="/assets/f2000.jpg" alt="Centro Fuerteventura 2000">
    </div>
</section>

<style>
    section{
        margin-top: 2em;
        width: 50vw;
    }
    li {
        list-style: none;
        position: relative;
        padding-left: 1.5em;
    }
    li::before {
        content: "•";
        position: absolute;
        left: 0;
        color: white;
    }
    @media (max-width: 639px) { /* sm breakpoint de Tailwind - 1px */
        section {
            flex-direction: column;
            align-items: stretch;
            width: 95vw; /* O el ancho que prefieras para móvil */
        }
        img[alt="empresa"], img[alt="Centro Reboot Academy"], img[alt="Centro Fuerteventura 2000"], img[alt="Empresa Islassem"], img[alt="Empresa BitBox S.L"] {
            width: 6em;
            height: 6em;
        }
    }
</style>