---

---

<section class="w-[25vw] flex justify-center items-center p-2 bg-[#393d41] rounded">
    <div class="flex gap-2">
        <a href="/#proyectos">Proyectos</a>
        <a href="/#experiencia">Experiencia</a>
        <a href="/#certificados">Certificados</a>
        <a href="/#contacto">Contacto</a>
    </div>
</section>

<style>
    section{
        position: fixed;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>