---
---
<section class="hidden sm:block">
    <h2 class="text-2xl text-center mt-10 font-bold mb-4">QR</h2>
    <div class="flex flex-col justify-center items-center bg-[#393d41] p-2 rounded p-4">
        <p>Codigo QR de este sitio web</p>
        <img class="w-[20em] h-[20em]" src='/public/assets/qr.png' alt='QR de este Sitio'>
    </div>
</section>


    