<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{Astro.props.title}</title>
</head>
<body>
	<slot />
	<footer class="text-center p-10 bg-[#393d41] w-full mt-10 rounded" >
		Desarrollado por <a href="https://github.com/idankest">idankest</a> con <a href="https://astro.build/">Astro</a>
	</footer>
</body>
</html>